.card-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
}

.card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}

.flag {
  width: 100%;
}

.text-container {
  padding: 20px;
}
